{%extends 'shop/base.html'%}


{% block title %}Stores{% endblock %}


{% block content %}
    <div class="banner_store_list">

        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="list-group" style="text-after-overflow: none">
                        <a href="#" class="list-group-item">All</a>
                        <a href="#" class="list-group-item">General</a>
                        <a href="#" class="list-group-item">Men </a>
                        <a href="#" class="list-group-item">Women</a>
                        <a href="#" class="list-group-item">Maternity </a>
                        <a href="#" class="list-group-item">Kids </a>
                        <a href="#" class="list-group-item">Sport </a>
                        <a href="#" class="list-group-item">Shoes </a>
                        <a href="#" class="list-group-item">Accessories</a>
                        <a href="#" class="list-group-item">Underwear </a>
                    </div>
                </div>

              <div class="col-lg-9">
                  <h2 class="caption">Find the store fitting your style</h2>
                  {% for store in stores %}
                      <div class="col-lg-6">
                          <div class="thumbnail">
                              <div class="showcase-item-header">
                                  {{ store.store_name }}
                              </div>
                              <a href="{% url 'comments' store_id=store.id %}" class="showcase-item-header-link" target="_blank">Reviews</a>
                              <div class="showcase-item-thumbnail">
                                  <a href="{{ store.store_link }}" target="_blank" ><img src="{{ store.store_logo }}" class="img-responsive"></a>
                              </div>
                          </div>
                      </div>
                  {% endfor %}
                  {% include 'shop/pagination.html' %}
              </div>
            </div>
        </div>
    </div>
{% endblock%}


