<!DOCTYPE html>
<html lang="en">

<body>
    <div class="col-lg-2">
        <div class="list-group" style="text-after-overflow: none">
            <a href="{% url "store_list" %}" class="list-group-item">All</a>
            <a href="#" class="list-group-item">General</a>
            <a href="#" class="list-group-item">Men </a>
            <a href="#" class="list-group-item">Women</a>
            <a href="#" class="list-group-item">Maternity </a>
            <a href="#" class="list-group-item">Kids </a>
            <a href="#" class="list-group-item">Sport </a>
            <a href="#" class="list-group-item">Shoes </a>
            <a href="#" class="list-group-item">Accessories</a>
            <a href="#" class="list-group-item">Underwear </a>
        </div>
    </div>

{% block content %}

{% endblock %}

</body>
</html>